# Created by .ignore support plugin (hsz.mobi)



/build/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.idea/workspace.xml
.idea/misc.xml

# Cache of project
.gradletasknamecache
.idea/libraries
.idea/modules/*.iml
.idea/gradle.xml
.idea/modules.xml
.idea/compiler.xml
# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

/java-example/out/
/java-example/.gradle
